.title {
    padding: 16px 0;
    font-size: 16px;
}

.uploader {
    position: relative;
    width: 327px;
    height: 200px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    overflow: hidden;
}

// .selectBtn {
//     position: absolute;
//     width: 64px;
//     height: 64px;
//     border-radius: 64px;
//     left: 50%;
//     top: 50%;
//     margin-top: -32px;
//     margin-left: -32px;
//     overflow: hidden;
//     background: url('./img/upload_btn.png') no-repeat;
//     background-size: cover;
//     z-index: 20;
// }
.selectBtn {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
    overflow: hidden;
    z-index: 20;
    background: url('./img/upload_btn.png') no-repeat;
    background-size: 64px 64px;
    background-position: center;
}

.tipText {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 24px;
    z-index: 999;
    color: rgba(0, 0, 0, 0.3);
    font-size: 14px;
}

.progress {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 4px;
    background: #ffffff;
    .precentage {
        position: absolute;
        left: 0;
        top: 0;
        height: 4px;
        background: green;
    }
}

.error {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 40px;
    line-height: 40px;
    background: red;
    color: #ffffff;
    z-index: 999;
    div {
        float: left;
        padding: 0 10px;
    }
}

.photo {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 8;
}

.mark {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
}