@charset "utf-8";
* html,
* html body {
    _text-overflow: ellipsis;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

html {
    height: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    margin: 0;
    padding: 0
}

body,
button,
input,
select,
textarea {
    font: 13px/1.5 tahoma, "Microsoft YaHei", "微软雅黑", arial, \5b8b\4f53
}

img {
    border: 0;
    vertical-align: middle;
    -ms-interpolation-mode: bicubic
}

a {
    text-decoration: none
}

a:hover {
    text-decoration: underline
}

ul,
li,
ol {
    list-style: none outside none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

button,
input,
select,
textarea {
    margin: 0;
    outline: 0 none;
    margin: 0;
    font-size: 100%;
    vertical-align: middle
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: none
}

button,
input {
    *overflow: visible;
    line-height: normal
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button
}

label,
select,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
    cursor: pointer;
    *overflow: visible
}

input[type="checkbox"],
input[type="radio"],
.form-radio,
.form-checkbox {
    box-sizing: border-box;
    padding: 0;
    *height: 13px;
    *width: 13px
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px 18px;
    padding: .35em .625em .75em
}

legend {
    border: 0;
    padding: 0;
    white-space: normal;
    *margin-left: -7px
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}

.cf {
    *zoom: 1
}

.cf:before,
.cf:after {
    display: table;
    line-height: 0;
    content: ""
}

.cf:after {
    clear: both
}

.fl {
    float: left;
    display: inline
}

.fr {
    float: right;
    display: inline
}

.mid,
.mid_em {
    display: inline-block;
    vertical-align: middle;
    *display: inline;
    *zoom: 1
}

.mid_em {
    height: 100%
}

/* 自定义滚动条样式 */
::-webkit-scrollbar {
    width: 2px;
    height: 2px
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 0;
    background:rgba(21, 20, 127, 0.1);
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(21, 20, 127, 0.2);;
    background: rgba(21, 20, 127, 0.2);
}

::-webkit-scrollbar-thumb:hover {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(21, 20, 127, 0.2);
    background: rgba(21, 20, 127, 0.4);
}

*{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}